aif360==0.4.0
matplotlib==3.4.3
numpy==1.20.3
sklearn==0.24.2
absl                      
astunparse==1.6.3
attr==21.2.0
backcall==0.2.0
bottleneck==1.3.2
certifi==2021.10.08
cffi==1.14.6
chardet==3.0.4
cloudpickle==1.6.0
cplex==20.1.0.0
cycler==0.10.0
cython_runtime    
d0500e42e7b9c00c4a62953977ddea7b
dateutil==2.8.2
decorator==5.0.9
defusedxml==0.7.1
fairlearn==0.7.0
falconn
gast
google
h5py==2.10.0
idna==2.8
ipykernel==5.3.4
ipython_genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
keras_preprocessing==1.1.2
kiwisolver==1.3.1
llvmlite==0.36.0
markupsafe==2.0.1
matplotlib_inline
mkl==2.4.0
mosek
mpl_toolkits
nbformat==5.1.3
numba==0.53.1
numexpr==2.7.3
opt_einsum==v3.3.0
pandas==1.3.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pkg_resources
prometheus_client
prompt_toolkit==3.0.17
psutil==5.8.0
ptyprocess==0.7.0
pvectorc
pygments==2.9.0
pyparsing==2.4.7
pyrsistent
pytz==2021.3
requests==2.22.0
scipy==1.6.2
send2trash
shap==0.39.0
six==1.16.0
slicer
storemagic
swig_runtime_data4
tempeh==0.1.12
tensorboard==2.6.0
tensorflow==2.3.0
termcolor==1.1.0
terminado==0.9.4
threadpoolctl==2.2.0
torch==1.7.1
tornado==,6.1
tqdm==4.62.1
traitlets==5.0.5
typing_extensions
urllib3==1.25.11
wcwidth==0.2.5
wrapt==1.12.1
zmq==22.2.1